/*
    Copyright 2024 Tyler Clarke.

    This file is part of Exosphere.

    Exosphere is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

    Exosphere is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with Exosphere. If not, see <https://www.gnu.org/licenses/>. 
*/

body > * {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

#gameui {
    width: auto;
    height: auto;
    display: inline-block;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

#loginmenu {
    padding: 50px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

#waitscreen {
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px;
}

#buyshipmenu {
    margin: 10px;
    border-radius: 15px;
    background-color: rgb(57, 57, 77);
    display: inline-flex;
    flex-direction: column;
    width: 90px;
    overflow: visible;
}

#buyshipmenu > div {
    max-width: 70px;
    width: max-content;
    display: flex;
    transition: max-width 0.3s;
    overflow: hidden;
    border-radius: 15px;
    background-color: rgb(57, 57, 77);
    padding: 20px;
    box-sizing: border-box;
}

#buyshipmenu > div:hover, #buyshipmenu > div:has(div > input:checked) {
    max-width: 50vw;
}

#buyshipmenu > div > div {
    padding-left: 10px;
    padding-right: 10px;
}

#buyshipmenu > div > div > input {
    display: none;
}

#buyshipmenu > div > div > label {
    display: inline-block;
}

#buyshipmenu > div > div > input:checked + label {
    background-color: red;
}

#buyshipmenu > div > div > input + label:hover {
    background-color: pink;
}

#buyshipmenu label > img {
    max-width: 30px;
    max-height: 30px;
}

#buyshipmenu label {
    display: inline-flex;
    justify-content: center;
}